In [22]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

from pydataset import data

# 1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [23]:

# Exercise 1
iris = data("iris")

In [24]:
# 1a. print the first 3 rows
iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [25]:
# 1b. print the number of rows and columns (shape)
iris.shape

(150, 5)

In [26]:
# 1c. print the column names
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [27]:
# 1d. print the data type of each column
iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [28]:
# 1e. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based 
# on these statistics? Not sure!

iris.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

# 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [29]:
telco = pd.read_excel("Spreadsheets_Exercises.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'Spreadsheets_Exercises.xlsx'

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

import acquire

# Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.

In [6]:
df = acquire.new_iris_data()

In [7]:
df.head(5)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

### 2. Drop the species_id and measurement_id columns.

In [8]:
df = df.drop(columns=['species_id', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

In [9]:
df.head(5)

  species_name
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa

### 3. Rename the species_name column to just species.

In [10]:
df.rename(columns= {'species_name': 'species'})

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

### 4. Create dummy variables of the species name.

In [16]:
df.value_counts()

species_name
setosa          50
versicolor      50
virginica       50
dtype: int64

In [21]:
pd.get_dummies(df[['setosa', 'versicolor', 'virginica']], drop_first=[True, True])

KeyError: "None of [Index(['purple', 'blue', 'light_purple'], dtype='object')] are in the [columns]"